.jobs-container{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: inherit;
    align-items: center;
    top:0px;
}
.global-error{
    display: flex;
    justify-content: center;
    align-items: center;
}
.error{
    display: none;
}
.jobs-user{
    font-variant-caps: petite-caps;
    font-size: 3rem;
    text-align: center;
    color: rgb(6, 194, 252);
}
.create-job-button{
    min-width: 15rem;
    outline: none;
    border: none;
    border-radius: 0.7rem;
    min-height: 3rem;
    background-color: black;
    color: aqua;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.2s;
}
.create-job-button:hover{
    transform: translate(-0.2rem,-0.2rem);
    box-shadow: 0.5rem 0.5rem blanchedalmond;
}
.create-job-form-wrapper{
    position: absolute;
    min-height: 100%;
    z-index: 1;
    min-width: 100vw;
    background-color: rgb(6, 194, 252,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-job-form{
    position: relative;
    background-color: greenyellow;
    min-width: 20vw;
    max-width: 28rem;
    width: 100%;
    min-height: 42vh;
    border-radius: 1rem;
    box-shadow: 1rem 1rem black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.create-job-form-head{
    display: flex;
    flex-direction: row;
    min-width: 100%;
    align-items: center;
    justify-content: space-between;
}
.create-job-form-head>div{
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    min-width: 20%;
    text-align: center;
    padding-left:25%;
}

.create-job-close{
    z-index: 2;
    align-self: center;
    transform: scale(220%);
    cursor: pointer;
    padding: 1rem 1.2rem 0.8rem 0 ;
}
.create-job-form>form{
    display: flex;
    flex-direction:column;
    min-width: 100%;
    min-height: inherit;
    margin-top: 2rem;
    align-items: center;
}
.create-job-form>form>label{
    font-size: 1.7rem;
    font-weight: 700;
    margin: 0.6rem;
}
.job-form-imputs{
    border-radius: 1rem;
    outline: rgb(6, 194, 252);
    border: none;
    font-size: 2rem;
    max-height: 3rem;
    max-width: 50%;
    padding: none;
    text-align: center;
}
.job-select{
    font-size: 1.5rem;
    border-radius: 0.4rem;
    min-width: 10rem;
    min-height: 2rem;
    text-align: center;
}
.create-submit{
    cursor: pointer;
    margin: 0.8rem;
    font-size: 1.8rem;
    border-radius: 0.23em;
    outline: none;    
    border: none;
    color: turquoise;
    background-color: black;
    min-width: 8rem;
}
.job-display{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}
.job-display>a{
    flex-basis:25% ;
    margin: 1rem;
    text-decoration: none;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    transition: all 0.3s;
}
.job-display>a:hover{
    transform: translate(0px,-0.5rem);
}
.job-card{
    padding: 0.5rem 1rem  ;
    display: flex;
    flex-direction: column;
}
.job-card>p{
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    color: black;
}
.job-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.2rem;
    min-width: 4rem;
}
.job-options>button{
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.job-options-img{
    transform: scale(200%);
    cursor:pointer;
    color: black;
}
.job-options-img:hover{
    transform: scale(220%) ;
    color: white;
}