.jobs-container{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: inherit;
    align-items: center;
    top:0px;
}
.global-error{
    display: flex;
    justify-content: center;
    align-items: center;
}
.error{
    display: none;
}
.jobs-user{
    font-variant-caps: petite-caps;
    font-size: 3rem;
    text-align: center;
    color: rgb(6, 194, 252);
}
.create-job-button{
    min-width: 15rem;
    outline: none;
    border: none;
    border-radius: 0.7rem;
    min-height: 3rem;
    background-color: black;
    color: aqua;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.2s;
}
.create-job-button:hover{
    transform: translate(-0.2rem,-0.2rem);
    box-shadow: 0.5rem 0.5rem blanchedalmond;
}
.job-display{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}
.job-display>a{
    flex-basis:25% ;
    margin: 1rem;
    text-decoration: none;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    transition: all 0.3s;
}
.job-display>a:hover{
    transform: translate(0px,-0.5rem);
}
.job-card{
    padding: 0.5rem 1rem  ;
    display: flex;
    flex-direction: column;
    max-width: 20vw;
    overflow: hidden;
}
.job-card>p{
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    color: black;
}
.job-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.2rem;
    min-width: 4rem;
}
.job-options>button{
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.job-options-img{
    transform: scale(200%);
    cursor:pointer;
    color: black;
}
.job-options-img:hover{
    transform: scale(220%) ;
    color: white;
}

@media only screen and (max-width:500px){
    .jobs-user{
        font-variant-caps: petite-caps;
        font-size: 1.5rem;
        text-align: center;
        color: rgb(6, 194, 252);
    }
    .create-job-button{
        min-width: 10rem;
        min-height: 2.5rem;
        font-size: 1rem;
        font-weight: 500;
    }
    .create-job-button:hover{
        transform: translate(-0.2rem,-0.2rem);
        box-shadow: 0.5rem 0.5rem blanchedalmond;
    }
    .job-display{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin-top: 2rem;
    }
    .job-display>a{
        flex-basis:25% ;
        margin: 1rem;
        text-decoration: none;
        border-radius: 0.5rem;
        display: flex;
        justify-content: space-between;
        transition: all 0.3s;
    }
    .job-display>a:hover{
        transform: translate(0px,-0.5rem);
    }
    .job-card{
        padding: 0.5rem 1rem  ;
        display: flex;
        flex-direction: column;
    }
    .job-card>p{
        margin: 0;
        font-size: 1rem;
        font-weight: 600;
        color: black;
    }
    .job-options{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 1.2rem;
        min-width: 4rem;
    }
    .job-options>button{
        outline: none;
        border: none;
        cursor: pointer;
        background-color: transparent;
    }
    .job-options-img{
        transform: scale(200%);
        cursor:pointer;
        color: black;
    }
    .job-options-img:hover{
        transform: scale(220%) ;
        color: white;
    }
    
}